@import '../../blocks/header/header.styl';

body
  font-family: sans-serif

ul
  padding: 0
  width: 60%

li
  list-style-type: none
  margin: 20px 0
  padding: 0 20px;
  border: 1px solid black

strong
  display: block

img
  width: 400px